// Footers

// Screen sizes
$screen_size_large: 1199px;
$screen_size_desktop: 991px;
$screen_size_tablet: 812px;
$screen_size_phone: 575px;

// Global css
:root {
    font-size: 16px;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif !important;
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@import 'colours.scss';
@import 'footer.scss';
@import 'header.scss';
@import 'index.scss';
@import 'layout.scss';
@import 'typography.scss';
@import 'main.scss';
@import 'addBook.scss';
@import 'myProfile.scss';
