header
    nav
        ul 
            li: a(href="/home") Home
            li: a(href="/discover") Discover
            li: a(href="/my-matches") Saved books
            li: a(href="/myProfile") Profile
            li: form(action="/logout" method="POST")
                button(type='submit' class='login') Logout