header
    nav
        ul 
            li: a(href="") Home
            li: a(href="") Discover
            li: a(href="") Saved
            li: a(href="") Profile 
            li: a(href="" class="logout") Logout