header
    nav
        ul 
            li: a(href="/home") Home
            li: a(href="") Discover
            li: a(href="") Saved
            li: a(href="/myProfile") Profile
            li: form(action="/logout" method="POST")
                button(type='submit' class='login') Uitloggen