extends loggedInLayout

block content
    section.addBook 
        h1 Add a book to my list: 
        form(action="" method="POST")
            #addBook.input
                label Title: 
                input(type="text" name="title", required)

            #addBook.input
                label Author:
                input(type="text" name="author", required)

            #addBook.input
                label Genre: 
                input(type="text" name="genre", required)

            button(type="submit") Add book