include ../partials/head.pug
h1 Hi #{ USER }
form
  button(type="submit")
    a(href="/update") Change email
  button(type="submit")
    a(href="/delete") Delete account
include ../partials/footer.pug
