
//- Inlog + registration.
extends loggedOutLayout

block content
    section(class='mysection loginSection')
        h3 Welcome! Login or register for free
        p We are going to help you to find the best book ever
        a(href='/login' class='button') Login
        a(href='/register' class='button') Register
            
            
        img(src="/images/image-2.png" alt="login" class="image")

    