
//- Inlog + registration.
extends layout
block content
 h3 Welkom! Login of registreer gratis
    section(class='mysection')
        a(href='/login' class='button') Inloggen
        a(href='/register' class='button') Registreren
            
            
        img(src="/images/image-2.png" alt="login" class="image")

    