extends layout

//- Inlog + registration.
block content
    section
        -if (messages.exists)
            .message.exists
                span=messages.exists
        form(action="/loginUser" method="POST")
            label(for='email') emailadres
            input#email(type='email' name='email' placeholder='example@email.com' required='')

            label(for='password') Password (Minimum of 8 characters)
            input#password(type='password' name='password' minlength="8")
            button(type="submit") Login

            button(type="submit") 
                a(href="/register" class="alink") Don't have an account yet? Register!

            button(type="submit") Login

            button(type="submit") 
                a(href="/register" class="alink") Don't have an account yet? Register!

        