extends layout 


//- Need to have a delete account button/section
//- Also need to have a change email option/username/normal name

block content
    section  
        h1 My profile 
        
        label Name
        
        label Interests 

        label List of books
            ul each book in books
                li Title #{title.year}
                li Author = author 
                li Genre = genre
             

        form(action="updateUser" method="POST")
            label Fill in your current email
            input(name="email")
            label Fill in your new email
            input(name="newEmail")
            button(type="submit") Change email
  
            button(type="submit" href="/home") 
            
            



