include ../partials/head.pug
title #{ title }
h1 Register

form(action='/registerUser' method='POST')
  label(for='email') Emailadres
  input#email(type='email' name='email' placeholder='example@email.com' required='')

  label(for="password") Password (Minimal 8 characters)
  input#password(type='password' name='password' minlength="8" required='')

  label(for='confirmPassword') Confirm password
  input#confirmPassword(type='password' name='confirmPassword' minlength='8' required='')
  button(type="submit") Register
  
  button(type="submit")
    a(href="/login") Already have an account? Login!
include ../partials/footer.pug
