include ../partials/head.pug
h1 Hi
form(action="updateUser" method="POST")
  label Fill in your current email
    input(name="email")
  label Fill in your new email
    input(name="newEmail")
  button(type="submit") Change email
  
button(type="submit" href="/home") Back
include ../partials/footer.pug
